/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.resultado img {
    max-width: 100px;
    height: 30px;
}
.table-responsive {
    margin-top: 20px;
}
.acciones {
    text-align: center;
}
.acciones button {
    margin: 0 5px;
}
#reader-file{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url('/assets/img/qrbar.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {

    .navbar-nav {
        text-align: center;
    }

    .table-responsive {
        overflow-x: auto;
    }

    #reader, #reader-file {
        width: 100% !important;
    }

    .img-thumbnail {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) {
    #reader, #reader-file {
        width: 100%;
    }
}
